body .ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}
.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    padding: 4px 10px;
    text-align: center;
}
.ui-datatable .ui-datatable-header {
    border-bottom: 0 none;
}
.ui-datatable .ui-datatable-footer {
    border-top: 0 none;
}
.ui-datatable th, .ui-datatable tfoot td {
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
}
body .ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    color: #666666;
    border-bottom: 1px dotted #D2C2CF;
    border-top:none;
    border-right:2px solid #FFF;
    border-left:2px solid #FFF;    
    padding: 5px;
}

.ui-datatable .ui-paginator {
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    font-weight: normal;
    background:transparent !important;
    border:none;
    font-size:0.9em;
    color:#666666;
}

.ui-datatable .ui-paginator-previous,
.ui-datatable .ui-paginator-pages,
.ui-datatable .ui-paginator-pages .ui-paginator-page,
.ui-datatable .ui-paginator-next {
    font-weight: bold !important;
    font-size:1.1em;
}

.ui-datatable .ui-icon,
.ui-datatable a {
    color: #77632B;
}
    
.ui-datatable .ui-paginator-pages > span,
.ui-datatable .ui-paginator-pages > a,
.ui-paginator-previous, .ui-paginator-next {
    margin: 0 6px !important;
    background:transparent !important;
    border:none !important;
}

.ui-paginator-current-page {
    color:#333333;
}

.ui-datatable tr.ui-selected td {
    background-color:#EAEAEA;
}

.ui-datatable-even {background-color:#F6F6F6 !important;}
.ui-datatable-odd {background-color:#EAEAEA !important; }

.ui-datatable-even:hover {background-color:#FFFFF1 !important}
.ui-datatable-odd:hover {background-color:#FFFFF1 !important}