/*
Tamanho padrão do itens do novo menu. Se precisar aumentar,
incrementar os itens abaixo, utilizando o mesmo valor de 
incremento.
Ex: 180 + 100 = 280px
	6 + 100 = 106px
*/
/*
#menu ul ul li a {
    width: 180px;
}
#menu ul ul ul {
  padding-left: 6px !important;
}
*/

ui-datalist-data {
    padding: 7px 56px 44px 51px; !important;
}

/*
	Ajuste devido a atualização para o Primefaces 5
	------------------------------------------------
    O ajuste abaixo corrige o problema de posicionamento do componente 
    "p:confirmDialog". O problema era que toda vez que o componente é invocado
    o scroll da página era rolado para cima. A solucao abaixo corrige
    isso.
*/
.ui-dialog {
    position: fixed;
}

/*
	Ajuste devido a atualização para o Primefaces 5
	------------------------------------------------
	O ajuste abaixo faz com que a barra de scroll horizontal não seja
	exido nos componentes "p:dataTable" das páginas de pesquisa.
*/
body .ui-datatable table {
    overflow: hidden;
}


/*
	Ajuste devido a atualização para o Primefaces 5
	------------------------------------------------
	O ajuste abaixo faz alguns componentes do Primefaces, como o 
	"p:autoComplete", "p:commandButton", "p:tab" e p:accordionPanel
	não fiquem visíveis	por sobre o menu da aplicação.
	
*/
.ui-autocomplete {
    position: inherit !important;
}

.ui-autocomplete .ui-autocomplete-dropdown {
   position: relative !important;
}

.submitform {
    position: inherit !important;
}

.ui-tabs {
    position: inherit !important;
}

.ui-tabs .ui-tabs-nav li {
    position: inherit !important;
}

.ui-accordion {
    position: inherit !important;
}

.ui-accordion .ui-accordion-header {
    position: absolute !important;
}

.ui-accordion .ui-accordion-content {
    position: inherit !important;
    padding: 1.4em 2.2em !important;
}

